<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/loginReg.css}">
    <title>登入 - 電子商城</title>
</head>

<body>
    <a th:href="@{/home}" align="center">
        <img th:src="@{/resources/images/logo.png}" alt="logo" style="width: 100px; height: 100px; cursor: pointer;">
    </a>
    <!-- 顯示錯誤訊息 -->
    <div th:if="${error}" th:text="${error}"></div>

    <!-- 顯示成功訊息 -->
    <div th:if="${success}" th:text="${success}"></div>

    <!-- 登入表單和返回首頁 -->
    <div class="login-row">
        <div class="loginRegForm">
            <h2>登入</h2>
            <form th:action="@{/login}" method="post" th:object="${userLoginDTO}">
            <div>
                <label for="username">使用者名稱：</label>
                <input type="text" id="username" th:field="*{username}" required>
                <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
            </div>

            <div>
                <label for="password">密碼：</label>
                <input type="password" id="password" th:field="*{password}" required>
                <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
            </div>

            <div style="display: flex; justify-content: space-between;" >
                <button type="submit" class="btn btn-primary">登入</button>
                <a th:href="@{/register}">
                    <button type="button" class="btn btn-primary">註冊</button>
                </a>
                <a th:href="@{/forgot-password}">
                    <button type="button" class="btn btn-primary">忘記密碼？</button>
                </a>
            </div>
            <!-- <p>還沒有帳號？ <a th:href="@{/register}">立即註冊</a></p> -->

            <!-- <p><a th:href="@{/forgot-password}">忘記密碼？</a></p> -->
            </form>
        </div>
        <div class="home-icon-column">
            <a th:href="@{/home}" class="home-icon" title="返回首頁">
                <span>🏠</span>
            </a>
        </div>
    </div>
</body>

</html>